In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("venues.csv")

In [6]:
df[df["Time_to_filter"] == "2019-12-30 04:00:00"]

,Unnamed: 0,Time_to_filter,At_ArenA_end_of_hour,At_AFAS_end_of_hour,At_Ziggo_end_of_hour,At_De_Toekmost_end_of_hour,At_ArenA_beginning_of_hour,At_AFAS_beginning_of_hour,At_Ziggo_beginning_of_hour,At_De_Toekmost_beginning_of_hour
3,3,2019-12-30 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
print("0" + str(10))

010